.centering {
    text-align: center;
  }
  .section-part{
    text-align: center; float: left ; width: 30%; padding: 0 10px; margin:auto;
  }
  
  .row-style {
    position:relative ; padding-left: 80px;
  }
  
  .content-box {
    padding: 16px; text-align: center;
  }
  
  img {
    width:100%;
  }

  .form-class{
    display: relative;
    flex-wrap: wrap;
    padding:40px;
  }
  form {
    margin-top: 10px;
    padding: 10px;
    text-align: left;
    font-weight: bold;
  }

  .input  {
    width: 100%;
    height: 30px;
    margin: 5px;
    border-radius: 3px;
    outline-color:blue;
 
    
  }

  .text-area  {
    width: 100%;
    height: 100px;
    margin: 5px;
    border-radius: 3px;
    outline-color:blue;
    
  }

  .submit  {
    width: 100%;
    height: 35px;
    margin: 5px;
    border-radius: 3px;
    border:none;
    background-color: rgb(0, 193, 0);
    color: white;
    
  }